@{
    ViewData["Title"] = "Home Page";
}

<form method="get">
    <button class="btn btn-dark btn-lg" type="submit" asp-controller="Product" asp-action="Index">Product Manager</button>
    <button class="btn btn-dark btn-lg" type="submit" asp-controller="Comment" asp-action="Index">Comment Manager</button>
</form>